.datepickerBorderB,.datepickerBorderBL,.datepickerBorderBR
{
  bottom: 0;
  height: 10px;
  position: absolute;
}

.datepickerGoNext,.datepickerGoPrev
{
  padding-left: 0!important;
}
.calendar_mark{
  background: red;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 30px;
  box-sizing: border-box;
  padding-top: 5px;
  margin-top: -10px;
}
.calendar_date{
  z-index: 100;
  position: relative;
}
.datepickerBorderB
{
  left: 10px;
  right: 10px;
}

.datepickerBorderBL
{
  left: 0;
  width: 10px;
}

.datepickerBorderBR
{
  right: 0;
  width: 10px;
}

.datepickerBorderL,.datepickerBorderR
{
  bottom: 10px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.datepickerBorderL
{
  left: 0;
}

.datepickerBorderR
{
  right: 0;
}

.datepickerBorderT,.datepickerBorderTL,.datepickerBorderTR
{
  height: 10px;
  top: 0;
  position: absolute;
}

.datepickerBorderT
{
  left: 10px;
  right: 10px;
}

.datepickerBorderTL
{
  left: 0;
  width: 10px;
}

.datepickerBorderTR
{
  right: 0;
  width: 10px;
}

.datepickerContainer
{
  left: 10px;
  position: absolute;
  top: 10px;
}

.datepickerDays a
{
  height: 16px;
  line-height: 16px;
  padding-right: 2px;
  width: 20px;
}

.datepickerGoNext a
{
  float: right;
  width: 20px;
}

.datepickerGoNext a,.datepickerGoPrev a,.datepickerMonth a
{
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.datepickerGoPrev a
{
  float: left;
  width: 20px;
}

.datepickerHidden
{
  display: none;
}

.datepickerSpace div
{
  width: 20px;
}

.datepickerViewDays
{
  height: 252px;
  width: 190px;
}

.datepickerMonths a,.datepickerYears a
{
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 44px;
}

div.datepicker
{
  cursor: default;
  display: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  height: 147px;
  left: 0;
  position: absolute;
  position: relative;
  top: 0;
  width: 196px;
}

div.datepicker a
{
  color: #000;
  cursor: default;
  outline: 0;
  text-decoration: none;
}

div.datepicker a:hover
{
  color: #88c5eb;
}

div.datepicker table
{
  border-collapse: collapse;
}

div.datepicker table td
{
  padding: 6px 1px;
  text-align: center;
}

div.datepicker tbody a
{
  display: block;
}

div.datepicker tbody th
{
  background-color: #CFECEC;
  padding: 6px 5px;
  text-align: left;
}

div.datepicker tbody th.datepickerMonths a
{
  font-size: 14px;
}

div.datepicker tbody tr.datepickerDoW th
{
  background-color: #fff;
}

div.datepicker td.datepickerNotInMonth a:hover
{
  color: #999;
}

div.datepicker th
{
  color: #999;
  font-weight: 400;
  text-align: center;
}

table thead tr
{
  height: 38px;
}

table.datepickerViewDays tbody.datepickerMonths,table.datepickerViewDays tbody.datepickerYears,table.datepickerViewMonths tbody.datepickerDays,table.datepickerViewMonths tbody.datepickerYears,table.datepickerViewMonths tr.datepickerDoW,table.datepickerViewYears tbody.datepickerDays,table.datepickerViewYears tbody.datepickerMonths,table.datepickerViewYears tr.datepickerDoW
{
  display: none;
}

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected
{
  background: #17384d;
}

tbody.datepickerMonths td.datepickerSelected,tbody.datepickerYears td.datepickerSelected
{
  background: #17384d;
}

td.datepickerDisabled a,td.datepickerDisabled a:hover,td.datepickerDisabled.datepickerNotInMonth a
{
  color: #333;
}

td.datepickerNotInMonth a
{
  color: #bbb;
}

td.datepickerSpecial a
{
  background: #700;
}

td.datepickerSpecial.datepickerSelected a
{
  background: #a00;
}