#colorpickerHolder2,#widgetCalendar
{
  height: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.tab h2,.tab h3,.tab strong
{
  font-weight: 700;
}

#colorpickerHolder2
{
  top: 32px;
  width: 356px;
}

#colorpickerHolder2 .colorpicker
{
  background-image: url(../images/custom_background.png);
  bottom: 0;
  left: 0;
  position: absolute;
}

#colorSelector,#customWidget,#widget
{
  position: relative;
}

#colorpickerHolder2 .colorpicker input
{
  color: #778398;
}

#colorpickerHolder2 .colorpicker_hex
{
  background-image: url(../images/custom_hex.png);
}

#colorpickerHolder2 .colorpicker_hsb_b
{
  background-image: url(../images/custom_hsb_b.png);
  display: none;
}

#colorpickerHolder2 .colorpicker_hsb_h
{
  background-image: url(../images/custom_hsb_h.png);
  display: none;
}

#colorpickerHolder2 .colorpicker_hsb_s
{
  background-image: url(../images/custom_hsb_s.png);
  display: none;
}

#colorpickerHolder2 .colorpicker_hue div
{
  background-image: url(../images/custom_indic.gif);
}

#colorpickerHolder2 .colorpicker_rgb_b
{
  background-image: url(../images/custom_rgb_b.png);
}

#colorpickerHolder2 .colorpicker_rgb_g
{
  background-image: url(../images/custom_rgb_g.png);
}

#colorpickerHolder2 .colorpicker_rgb_r
{
  background-image: url(../images/custom_rgb_r.png);
}

#colorpickerHolder2 .colorpicker_submit
{
  background-image: url(../images/custom_submit.png);
}

#colorSelector
{
  background: url(../images/select.png);
  height: 36px;
  width: 36px;
}

#colorSelector div
{
  background: url(../images/select.png) center;
  height: 30px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 30px;
}

#colorSelector2
{
  background: url(../images/select2.png);
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

#colorSelector2 div
{
  background: url(../images/select2.png) center;
  height: 28px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 28px;
}

#customWidget
{
  height: 36px;
}

#widgetCalendar
{
  background: #B9B9B9;
  top: 26px;
  width: 588px;
}

#widgetCalendar .datepicker
{
  bottom: 0;
  position: absolute;
  top: auto;
}

#widgetCalendar .datepicker a:hover
{
  color: #b6f063;
}

#widgetField
{
  background: url(../images/field.png);
  height: 26px;
  overflow: hidden;
  position: relative;
  width: 290px;
}

#widgetField a
{
  display: block;
  height: 26px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-indent: -3000px;
  top: 0;
  width: 26px;
}

#widgetField span
{
  color: #000;
  font-size: 12px;
  font-weight: 700;
  height: 26px;
  left: 5px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 250px;
}

.navigationTabs,.navigationTabs li,.navigationTabs li a
{
  height: 23px;
  line-height: 23px;
}

.datepickerBorderB,.datepickerBorderBL,.datepickerBorderBR,.datepickerBorderL,.datepickerBorderR,.datepickerBorderT,.datepickerBorderTL,.datepickerBorderTR
{
  display: none!important;
}

.datepickerContainer
{
  left: 0;
  top: 0;
}

.navigationTabs
{
  border-bottom: 1px solid #ccc;
}

.navigationTabs li
{
  float: left;
  padding-right: 3px;
}

.navigationTabs li a
{
  background-color: #eee;
  color: #52697E;
  dispaly: block;
  float: left;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
}

.navigationTabs li a.active
{
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 0 solid;
}

.navigationTabs li a:hover
{
  background-color: #f0f0f0;
}

.tab
{
  display: none;
  padding: 16px;
}

.tab a
{
  color: #8FB0CF;
}

.tab dt
{
  margin-top: 16px;
}

.tab h2
{
  font-size: 16px;
}

.tab h3
{
  font-size: 14px;
  margin-top: 20px;
}

.tab li
{
  margin: 10px 0 0 35px;
}

.tab p
{
  clear: both;
  margin-top: 16px;
}

.tab pre
{
  clear: both;
  font-size: 11px;
  margin-top: 20px;
  overflow: auto;
  width: 668px;
}

.tab table
{
  width: 100%;
}

.tab table td
{
  padding: 6px 10px 6px 0;
  vertical-align: top;
}

.tab ul
{
  list-style: disc;
  margin-top: 16px;
}

.tabsContent
{
  border: 1px solid #ccc;
  border-top: 0 solid;
  overflow: hidden;
  width: 698px;
}

abbr,acronym,fieldset,img
{
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var
{
  font-style: normal;
  font-weight: 400;
}

caption,th
{
  text-align: left;
}

h1
{
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6
{
  font-size: 100%;
  font-weight: 400;
}

input.inputDate
{
  border: 1px solid #999;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  padding: 4px;
  width: 65px;
}

ol,ul
{
  list-style: none;
}

q:after,q:before
{
  content: '';
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}