#auth,.ad
{
  width: 100%;
  float: left;
}

#auth,#date,.ad,.article,.black_stripe,.black_stripe p,.border
{
  float: left;
}

.nt,.pr
{
  background-repeat: no-repeat;
}

.black_stripe,aside,div.list,p.section
{
  box-sizing: border-box;
}

figure,section
{
  overflow: hidden;
}

#auth img
{
  border-radius: 50%;
  display: initial;
  float: left;
  margin:30px 0 13px 20px;
}

#date
{
  height: 252px;
}

#square1,#square2,#square3,#square4
{
  background-color: #000;
  opacity: .2;
}

.ad
{
  border: none;
}

#sidebar:nth-last-child(1)
{
  padding-bottom: 20px;
}

.border_line
{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #e0e7ee;
  float: left;
  margin-top:15px;
}

.ad img
{
  padding: 20px 20px 0;
  width: 190px;
}

.article
{
  width: 55%;
}

.big_green_button
{
  cursor: pointer;
  background-color: rgba(72,151,50,.94);
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  float: left;
  height: 25px;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
  border: none;
  outline: none;
}

.big_green_button:hover
{
  box-shadow: inset 0 0 70px #20911d;
}

.black_stripe
{
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  color: #fff;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  width: 100%;
}

.nt,.pg_next,.pg_prev,.pr,div.list,figure
{
  position: relative;
}

.black_stripe a
{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 16px;
  text-decoration: none;
}

.x
{
  position: relative;
  right: 20px;
  top: 12px;
  width: 12px;
  height: 12px;
  background: url(../img/cross.png);
  margin: 0;
  float: right;
  cursor: pointer;
}

.black_stripe p
{
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 70%;
}

nav>div>ul>li a
{
  font-weight: 400;
}

.email,.name,.news_side,p.head1,p.head2,p.news_header,p.section
{
  font-weight: 600;
}

.border
{
  height: 1px;
  width: 15%;
}

.calendarBorder1,.calendarBorder2
{
  background-color: #CFECEC;
  border: none;
  height: 38px;
  float: left;
}

.calendarBorder1
{
  width: 20px;
}

.calendarBorder2
{
  width: 17px;
}

.change_link
{
  float: left;
  color: #848484;
  display: inline-block;
  font-size: .85em;
  margin-bottom: 20px;
  padding-left: 20px;
  text-decoration: underline!important;
}

.news_side,.pg_a,.soc>a,a,a.news_link,nav>div>ul>li a,p.section
{
  text-decoration: none;
}

.front_main
{
  margin-bottom: 20px;
}

.front_aside
{
  height: 857px;
}

.col-1
{
  min-height: 806px;
  background-color: #fff;
  border-right: 1px solid #e0e7ee;
  border-left: 1px solid #e0e7ee;
  border-top: 1px solid #e0e7ee;
  float: left;
  margin: 0;
  padding: 3% 3% 2%;
  width: 750.33px;
  box-sizing: border-box;
}

.col-1.mr
{
  padding-top: 15px;
}

.col-1>figure
{
  float: left;
  height: 200px;
  margin: 0 0 4%;
  width: 330.88px;
}

.col-1>p
{
  float: left;
  font-size: 1.05em;
  margin-top: 0;
  text-align: justify;
}

.col-8
{
  background-color: #f5f5f5;
  float: left;
  margin-top: 20px;
  width: 984.77px;
}

.col-8.sp
{
  margin: 0;
}
.datepickerSelected div{
  background: rgba(72,151,50,.94);
}
.datepickerContainer table tbody tr td:first-child
{
  padding: 0;
}

.email
{
  font-size: .85em;
  margin-bottom: 0;
  margin-top:0;
  padding-left: 20px;
  float: left;
  width: 100%;
}

.logo img,.soc img
{
  display: inline-block;
  vertical-align: middle;
}

.logo_signin
{
  background-color: #fff;
  float: left;
  text-align: center;
  width: 100%;
}

.logo_signin .logo
{
  float: left;
  line-height: 80px;
  padding-right: 40px;
}

.logo_signin .signin,.name
{
  float: right;
}

.logo_signin>.logo
{
  padding-left: 15%;
}

.logo_signin>.signin
{
  height: 80px;
  padding-right: 12.5%;
}

.name
{
  padding-top: 28px;
  width: 50%;
}

.news_preview .img_thumbnail, .main_block .img_thumbnail
{
  float: left;
  width: 270px;
  display: block;
  margin: 0 20px 20px 0;
}

.img_thumbnail img
{
  margin: 30px auto 0 auto;
  display: block;
}

img
{
  max-width: 100%;
}

.news_side
{
  border-radius: 20px;
  color: #000;
  display: block;
  font-size: 1em;
  margin-top: 10px;
  padding: 5px 15px 7px;
}

.nomargin
{
  color: #000;
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}

.nomargin.now
{
  border: 2px solid #539d3e;
  border-radius: 20px;
}

.nt
{
  background-image: url(../img/next.png);
  left: -15px;
}

.pagination
{
  display: block;
  float: left;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.pg_a
{
  color: #539d3e;
  font-size: .9em;
}

.signin .sign_in,.signin .sign_up
{
  float: left;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
}

.pg_ar_next
{
  float: right;
}

.pg_ar_prev,.social,.social>.logo
{
  float: left;
}

.pg_ar_next.disabled,.pg_ar_prev.disabled
{
  color: #7b7b7b;
}

.pg_next
{
  padding-right: 12px;
  top: 2px;
  display: initial;
}

.pg_prev
{
  top: 2px;
  display: initial;
}

.pg_prev.enabled_ar
{
  padding-left: 12px;
  transform: rotate(180deg);
}

.pg_prev.disabled_ar
{
  padding-right: 12px;
}

.pg_next.disabled_ar
{
  padding-right: 12px;
  transform: rotate(180deg);
}

.pg_next.enabled_ar
{
  padding-left: 12px;
}

.pr
{
  background-image: url(../img/prev.png);
  right: -15px;
}

.reversed
{
  transform: rotate(180deg);
}

.selected_aside
{
  background-color: rgba(83,157,62,.14);
}

.selected_nav
{
  background-color: #50913d;
}

.signin .sign_in
{
  margin: 19px 0;
  border: 2px solid #468d32;
  border-radius: 25px;
  color: #000;
  padding: 4px 28px 6px;
  cursor: pointer;
}

.form_sign_in
{
  height: 350px;
  margin: 40px auto 0 auto;
  width: 540px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  position: relative;
  z-index: 100000;
}

.head3
{
  text-align: center;
  margin-top: 0px;
  line-height: 95px;
  font-size: 1.5em;
  margin-bottom: -20px;
  font-weight: 600;
}

.text_input
{
  text-align: center;
  width: 341px;
  height: 55.6px;
  box-sizing: border-box;
  display: block;
  border-radius: 40px;
  padding: 10px 28px 10px;
  border: 1px solid #e0e7ee;
  margin: 25px auto 0 auto;
  line-height: 35.6px;
  outline: none;
  font-size: 1em;
}

.form_sign_up .text_input
{
  margin-top: 20px;
}

#upload_file
{
  display: none;
}

#upload_text
{
  float: left;
  cursor: pointer;
  width: 80px;
  font-size: 0.9em;
  text-align: left;
  padding: 20px 0 20px 0;
}

#blank_img
{
  float: left;
  width: 80px;
  height: 80px;
  display: initial;
  border-radius: 50%;
  margin-right: 20px;
  visibility: hidden;
  margin-bottom: 40px;
}

#upload_img
{
  width: 180px;
  margin: 30px auto 30px auto;
}

#upload_img img
{
  float: left;
  width: 80px;
  height: 80px;
  display: initial;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 40px;
}

.form_sign_up
{
  margin: 0 auto 0 auto;
  margin-top: -145px;
  height: 652.5px;
  margin: 0 auto;
  display: none;
  width: 540px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
}

.representative_checkbox
{
  cursor: pointer;
  font-size: 0.9em;
  width: 220px;
  clear: both;
  margin: 30px auto 30px auto;
  padding-left: 30px;
}

.representative_checkbox input
{
  margin-right: 20px;
}

.center
{
  width: 208.47px;
  height: 39.7px;
  float: none;
  display: block;
  text-align: center;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 1em;
  clear: both;
}

.fade
{
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.7;
  display: none;
}

.fixed
{
  width: 100%;
  height: 0px;
  float: left;
  display: block;
  position: relative;
  margin-top: -25px;
  z-index: 100;
}

.signin .sign_up
{
  margin: 26px 0;
  color: #000;
  padding-right: 30px;
  cursor: pointer;
}
.error{
  padding: 145px 0 20px 0;
  text-align: center;
  color:red;
  background: white
}
.success{
  padding: 145px 0 20px 0;
  text-align: center;
  color:rgba(72,151,50,.94);
  background: white
}
.single_block img
{
  float: left;
  margin: 0 20px 0 0;
  max-width: 100%;
}

.soc>a
{
  line-height: 44px;
}

.social
{
  width: 100%;
}

.social>.logo
{
  padding-left: 15%;
}

.social>.soc
{
  float: right;
  padding-right: 12.5%;
}

.whitecol1,.whitecol2
{
  border-bottom: 1px solid #DAE1E8;
  float: left;
  height: 214px;
}

.whitecol1
{
  width: 20px;
}

.whitecol2
{
  width: 17px;
}

aside
{
  background-color: #fff;
  border-top: 1px solid #e0e7ee;
  margin-top: 18px;
  margin:0;
  width: 227px;
  box-sizing: border-box;
}

aside>div
{
  border-bottom: 1px solid #e0e7ee;
}

.wrapper
{
  float: right;
  height: 114px;
  line-height: 114px;
}
.wrap
{
  float: left;
  background-color: white;
  border-bottom: 1px solid #e0e7ee;
  border-right: 1px solid #e0e7ee;
  margin: 20px 0 20px 0;
}
@font-face
{
  font-family:Din;src:url(../fonts/Din.ttf);
}



@media screen and (max-width:1176px)
{
  .border
  {
    width: 10%;
  }
}

@media screen and (max-width:1150px)
{
  .black_stripe p,.wrapper
  {
    width: 100%;
  }

  .wrapper
  {
    float: left;
    height: 60px;
    line-height: 40px;
  }
}


@media screen and (max-width:1112px)
{
  .border
  {
    width: 5%;
  }
}

@media screen and (max-width:1001px)
{
  .block_text.has_thumbnail
  {
    float: left;
    padding-left: 0;
    margin-top:0;
  }
  .img_thumbnail img{
    margin: 30px 0 0;
  }
  .article
  {
    width: initial;
  }

  .border
  {
    width: 15%;
  }

  .col-1
  {
    width: 500px;
  }

  .col-8
  {
    box-sizing: border-box;
    padding-left: 15%;
    width: 100%;
  }

  figure.news
  {
    width: initial;
  }

  p.news_header
  {
    margin-top: 0;
  }
}

@media screen and (max-width:904px)
{
  .col-8
  {
    padding-left: 5%;
  }
}

@media screen and (max-width:835px)
{
  .signin>p.sign_up
  {
    background-color: #fff;
    border-radius: 25px;
    margin-right: 20px;
  }
  .col-1{
    width: 408px;
  }
  .col-8
  {
    width: 810px;
    overflow-x:visible;
  }
  section
  {
    overflow-x:visible;
    width: 800px !important;
  }
  html
  {
    overflow-x:hidden;
  }
}

@media screen and (max-width:727px)
{

  .col-8
  {
    padding-left: 0;
  }

  .pg_a
  {
    display: none;
  }
}

@media screen and (max-width:703px)
{
  .col-1>figure{
    width: 315px;
  }
  figure div.square{
    left:284px !important;
  }
  .col-1
  {
    width: 360px;
  }
  section
  {
    width: 650px !important;
  }
}

@media screen and (max-width:652px)
{
  .col-1
  {
    display: inline-block;
    float: left;
    text-align: left;
  }
  .form_sign_up
  {
    width:450px;
  }
  .form_sign_in
  {
    width:450px;
  }
  .text_input
  {
    width: 195px;
  }
  .col-8{
    width: 700px;
  }
}

@media screen and (max-width:600px)
{
  .form_sign_up
  {
    width:400px !important;
  }
  .form_sign_in
  {
    width:400px !important;
  }
  section
  {
    width:600px !important;
  }
  .col-8
  {
    width: 650px;
  }
}

@media screen and (max-width:510px)
{

  .col-1>figure{
    width: 300px;
  }
  figure div.square{
    left:269px !important;
  }
  .black_stripe>p
  {
    font-size: 1.5em;
  }

  .logo_signin>.signin
  {
    display: inline-block;
    float: none;
    padding-right: 0;
  }

  .social
  {
    line-height: 60px;
    text-align: center;
  }

  .social>.logo,.social>.soc
  {
    display: inline-block;
    float: none;
    line-height: 80px;
    padding: 0;
    width: 100%;
  }
  section
  {
    width: 480px !important;
  }
  .col-1
  {
    width: 255px;
  }
  .col-1.front_main
  {
    width: 335px;
  }
  .col-8
  {
    width: 616px;
  }
}

@media screen and (max-width:450px)
{
  .col-1
  {
    width: 255px;
  }
  .col-1.front_main
  {
    width: 335px;
  }
}

@media screen and (max-width:420px)
{
  .form_sign_up
  {
    width:350px !important;
  }
  .form_sign_in
  {
    width:350px !important;
  }
  .col-1
  {
    width: 200px;
  }
  .col-1.front_main
  {
    width: 335px;
  }
  section
  {
    width: 400px !important;
  }
}

@media screen and (max-width:384px)
{
  .black_stripe>p
  {
    font-size: 1.2em;
  }
}

@media screen and (max-width:350px)
{
  .form_sign_up
  {
    width:300px !important;
  }
  .form_sign_in
  {
    width:300px !important;
  }
}

article,aside,body,div.news_block,div.single_block,figure div.fi,figure.news
{
  float: left;
}

.news_block
{
  border-top: 1px solid #e0e7ee;
  padding: 20px 4.8% 0 4.8%;
  margin: 10px -4.8% 10px -4.8%;
}

a p.head2
{
  color: #000;
}

.main_block
{
  width: 100%;
  position: relative;
  float: left;
  border-top: 1px solid #e0e7ee;
  padding: 0 4.8% 0 4.8%;
  margin: 10px -4.8% 10px -4.8%;
}

a.news_link
{
  cursor: pointer;
  font-size: .9em;
}



div.list,div.single_block
{
  width: 100%;
}

body
{
  font-family: Din;
  margin: 0;
}

div.list
{
  border-bottom: 5px solid #539d3e;
  padding: 30px 20px;
  text-align: left;
}

figure,nav
{
  text-align: center;
}

.block_text
{
  float: left;
  margin-top: 30px;
}

.block_text p
{
  margin-top: 6px;
  margin-bottom: 6px;
}

div.news_main p a img
{
  display: block;
  margin: 0 20px 16px 0;
}

div.news_preview
{
  position: relative;
  clear: both;
  font-size: 1em;
  margin-top: 10px;
}

.has_thumbnail
{
  padding-left: 290px;
  float: none;
}

nav>div>ul>li a,p.head1
{
  font-size: 1.2em;
}

div.news_preview p a img
{
  display: block;
  float: left;
  margin: 0 20px 50px 0;
}

figure div.fi
{
  height: 139px;
  width: 100%;
}

figure div.fi img
{
  padding-top: 30px;
}

figure div.square
{
  bottom: 168px;
  height: 64.1px;
  left: 299px;
  position: absolute;
  transform: rotate(45deg);
  width: 64.1px;
}

header,section
{
  position: relative;
}

figure#bio
{
  background-color: #6C6;
  margin-right: 4%;
  position: relative;
}

figure#it
{
  background-color: #39C;
  margin-right: 4%;
  position: relative;
}

figure#nano
{
  background-color: #F3C;
  position: relative;
}

figure#prom
{
  background-color: #FC3;
  position: relative;
}

figure.news
{
  background: #fff;
  margin-left: 0;
  margin-right: 20px;
  width: 40%;
}

footer,header,nav
{
  width: 100%;
  float: left;
}

footer
{
  background-color: #242424;
  line-height: 100px;
}

header#header1
{
  background-image: url(../img/wall.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 670px;
}

html
{
  margin-top: 0!important;
}

nav
{
  background-color: rgba(72,151,50,.94);
  opacity: .9;
}

nav>div>ul
{
  margin: 0;
}

nav>div>ul>li
{
  display: inline-block;
  line-height: 48px;
  list-style-type: none;
  padding: 0 18px;
}

nav>div>ul>li.current-menu-item,
nav>div>ul>li.current-menu-item
{
  background-color: #50913d;
}

.menu
{
  padding: 0;
}

.parent_menu
{
  background-color: #50913d;
}

nav>div>ul>li a
{
  color: #fff;
}

p.head2
{
  font-size: 1.2em;
  margin: 0 0 10px;
}

p.news_date
{
  margin-top: 8px;
  margin-bottom: 8px;
  color: #848484;
  font-size: .9em;
  width: 55%;
}

p.news_header
{
  color: #000;
  float: left;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 0;
  width: 55%;
}

p.news_open
{
  color: #539d3e;
  float: left;
  margin-bottom: 8px;
  margin-top: 0;
}
.search-box{
  margin-top: 8px;
}
p.section
{
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  margin: 0;
  padding: 14px 0 19px;
}

section
{
  background-color: #f5f5f5;
  float: left;
  width: 100%;
}